<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
    <add name="metermaid" connectionString="Data Source=tcp:ick5mba97o.database.windows.net,1433;Initial Catalog=metermaid;User ID=mbmccormick@ick5mba97o;Password="/>
  </connectionStrings>
  <appSettings>
    <add key="TwilioAccountSid" value="AC5057e5ab36685604eecc9b1fdd8528e2" />
    <add key="TwilioAuthToken" value="309e6930d27b624bbfaa45dac382c6ae" />
    <add key="TwilioNumber" value="815-600-7275" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <customErrors mode="Off" />
  </system.web>
</configuration>
