body 
{
    background-color: #ececec;
    font-family: Helvetica, Arial;
}

#phone
{
    width: 100%;
    text-align: center;
    text-shadow: #ffffff 0px 2px 0px;
    padding: 40px 0px;
}

#phone h1 
{
    color: #4d4d4d;
    font-size: 128px;
    margin: 0;
    padding: 0;
}

#phone h2 
{
    color: #4d90fe;
    font-size: 56px;
    margin: 0;
    padding: 0;
}